.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-11);
  border-radius: 5px;
  margin-bottom: 100px;
}

.cardTexto {
  border-style: solid solid solid none;
  border-width: 5px;
  border-color: var(--cor-p1);
  border-radius: 0 5px 5px 0;
  padding-left: 40px;
}

.cardTexto h2 {
  color: var(--cor-1);
  position: relative;
  padding-top: 24px;
  padding-bottom: 12px;
}

.cardTexto h2::before {
  content: "";
  width: 8px;
  height: 15px;
  background-color: var(--cor-p1);
  top: 38px;
  left: -20px;
  position: absolute;
}

.cardTexto ul {
  color: var(--cor-4);
  padding-top: 8px;
}

.cardTexto p {
  padding-bottom: 8px;
  position: relative;
}

.cardTexto p::before {
  content: "";
  width: 10px;
  height: 4px;
  background-color: var(--cor-p1);
  top: 10px;
  left: -15px;
  position: absolute;
}

.cardTexto ul li {
  padding-bottom: 8px;
  padding-left: 16px;
  position: relative;
}

.cardTexto ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  background-color: var(--cor-p2);
  left: 2px;
  bottom: 18px;
}
