.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 72px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.red-line {
  background: var(--cor-p1);
  height: 5px;
}
