.atualCmt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-11);
  border-radius: 5px;
  margin-bottom: 72px;
}

.curriculoCmt {
  border-style: solid solid solid none;
  border-width: 5px;
  border-color: var(--cor-p1);
  border-radius: 5px;
  padding-left: 40px;
}

.curriculoCmt h2 {
  color: var(--cor-1);
  position: relative;
}

.curriculoCmt h2::before {
  content: "";
  width: 8px;
  height: 15px;
  background-color: var(--cor-p1);
  top: 15px;
  left: -15px;
  position: absolute;
}

.curriculoCmt ul {
  color: var(--cor-4);
  padding-top: 8px;
}

.curriculoCmt p {
  padding-bottom: 8px;
  position: relative;
}

.curriculoCmt p::before {
  content: "";
  width: 10px;
  height: 4px;
  background-color: var(--cor-p1);
  top: 10px;
  left: -15px;
  position: absolute;
}

.curriculoCmt ul li {
  padding-bottom: 8px;
  padding-left: 16px;
  position: relative;
}

.curriculoCmt ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  background-color: var(--cor-p2);
  left: 5px;
  bottom: 18px;
}
