header {
  background: var(--cor-11);
  box-shadow: inset 0 -30px var(--cor-0), inset 0 -35px var(--cor-p1);
}

.header-conteudo {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--cor-1);
}

.header-conteudo .header-logo,
.header-conteudo nav {
  display: flex;
  align-items: center;
}

.header-logo img {
  z-index: 999;
}

.header-logo h1 {
  margin-bottom: 10px;
  padding-left: 16px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.menu ul li {
  margin-bottom: 10px;
  position: relative;
}

.menu ul a {
  padding: 16px 0;
}

.menu ul a:hover {
  color: var(--cor-3);
}

.menu ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-1);
  margin-top: 1px;
  transition: 0.3s;
  position: absolute;
}

.menu ul li:hover::after {
  color: var(--cor-3);
  width: 100%;
}

.red-line {
  background: var(--cor-p1);
  height: 5px;
}
