.carousel {
  margin-top: -30px;
  background-image: url("../img/carousel/carousel_1.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  animation: show-down 1s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes new-show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
