.carousel {
  margin-top: -30px;
  height: 700px;
  background-size: cover;
  background-position: center;
  animation: show-down 1s forwards;
  background: no-repeat;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background: no-repeat;
}
