.frase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
  gap: 40px;
}

.frase blockquote {
  display: grid;
  align-items: center;
  padding-top: 72px;
  position: relative;
}

blockquote p::before {
  content: "";
  width: 10px;
  height: 20px;
  top: 235px;
  left: -15px;
  background-color: var(--cor-p1);
  position: absolute;
}
