.wrapper-mural {
  overflow: hidden;
  margin-top: 72px;
  background-color: var(--cor-11);
}

.mural {
  display: flex;
}

.mural-conteudo {
  cursor: pointer;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  margin-right: 25px;
  max-width: 800px;
}

.mural-conteudo img {
  transition: opacity 0.5s;
  width: 20vw;
}

.mural-conteudo.ativo img {
  opacity: 0.6;
}

.mural-conteudo span {
  opacity: 0;
  position: absolute;
  top: 50%;
  padding: 8px 16px;
  border: 1px solid var(--cor-4);
  transform: translate(-50%, -50%);
  color: var(--cor-0);
  text-transform: uppercase;
  transition: opacity 0.5s;
}

.mural-conteudo.ativo span {
  opacity: 1;
}
